#delete-item {
  transition: transform 0.2s;
}

#delete-item:hover {
  transform: scale(1.3);
  color: #B30009;
  cursor: pointer;
}

#amount-edit {
  transition: transform 0.2s;
  color: #ccc;
}

#amount-edit:hover {
  transform: scale(1.2);
  color: #111;
  cursor: pointer;
}

#done {
  transition: transform 0.2s;
  color: #ccc;
}

#done:hover {
  transform: scale(1.2);
  color: green;
  cursor: pointer;
}