.item-detail {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
}

#image-content {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-around;
}

.imageDiv {
  width: 20%;
}

#img {
  height: auto;
  width: 100%;
  border-radius: 10px;
}

#content-item-detail {
  width: 70%;
  text-align: left;
}

.price-card {
  width: 20%;
}

.description {
  display: block;
}

#responsive-description {
  display: none;
  margin-top: 24px;
  text-align: left;
}

@media (max-width: 1409px) {
  .item-detail {
    justify-content: space-around;
    align-items: stretch;
  }
  #image-content {
    flex-direction: column;
    align-items: center;
    width: 40%;
  }
  .imageDiv {
    width: 60%;
    order: 2;
  }
  #content-item-detail {
    width: 100%;
    order: 1;
  }
  #card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .price-card {
    width: 40%;
    order: 3;
  }

  #card-detail {
    height: 100%;
  }
  .description {
    display: none;
  }
  #responsive-description {
    display: block;
  }
}


@media (max-width: 768px) {
  #image-content {
    width: 100%;
  }
  .imageDiv {
    width: 80%;
    order: 2;
  }
  .item-detail {
    flex-direction: column;
    align-items: center;
  }
  .price-card {
    width: 100%;
    order: 3;
  }
}