.button.link {
  background-color: #B30009;
  border-color: transparent;
  color: #fff; }
  .button.link:hover, .button.link.is-hovered {
    background-color: #a60008;
    border-color: transparent;
    color: #fff; }
  .button.link:focus, .button.link.is-focused {
    border-color: transparent;
    color: #fff; }
    .button.link:focus:not(:active), .button.link.is-focused:not(:active) {
      box-shadow: 0 0 0 0.125em rgba(179, 0, 9, 0.25); }
  .button.link:active, .button.link.is-active {
    background-color: #9a0008;
    border-color: transparent;
    color: #fff; }
  .button.link[disabled],
  fieldset[disabled] .button.link {
    background-color: #B30009;
    border-color: transparent;
    box-shadow: none; }
  
.link-color {
  color: #B30009 !important;
}