#card {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.2s;
}
  
#card:hover {
    transform: scale(1.02);
}

.bookmarkRibbon {
    width: 85px;
    height: 0;
    border-bottom: 20px solid #B30009;
    border-top: 20px solid #B30009;
    border-left: 15px solid transparent;
    float: right;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight:700;
    position: absolute;
    right: 0px;
    top: 40px;
    z-index: 3;
}

#card-content {
    height: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: left;
    justify-content: space-between;
}

#card-footer {
    margin-top: auto;
}

.price {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* margin-top: auto; */
}