#card {
    border-radius: 10px;
    transition: transform 0.2s;
    height: 100%;
}
  
#card:hover {
    transform: scale(1.02);
}

.card-content {
    height: 23%;
}

.bookmarkRibbon {
    width: 85px;
    height: 0;
    border-bottom: 20px solid hsl(204, 86%, 53%);
    border-top: 20px solid hsl(204, 86%, 53%);
    border-left: 15px solid transparent;
    float: right;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight:700;
    position: absolute;
    right: 0px;
    top: 40px;
    z-index: 3;
}