#media {
  max-width: 90%;
  text-align: left;
  margin: auto;
}

#image {
  border-radius: 10px;
  height: 480px;
  width: 320px;
}

#info {
  min-width: 90%;
  max-width: 90%;
  margin: auto;
}

#price-card {
  text-align: center;
  width: 300px;
  background-color: rgba(240,240,240, 0.5); 
}